<div class="show-main">
 <div class="show-user">
 </div>
 <div class="show-posts">
  <% @posts.each do |post|%>
   <ul class="user-tabs">
    <li><%= link_to("投稿","/users/#{}")%></li>
   </ul>

  <%end%>
 </div>

</div>