 <div class="post-edit">
 <div class="post-edit-main">
   <div class="post-edit-left">
    <img src=" <%="/users_image/#{@user.id}.jpg"%>">
  </div>
  <div class="post-edit-right">
   <%=@user.name%>
   <a><%=@post.content %></a>
   
   <div class="post-edit-bottom">
     <%= link_to("削除","/posts/#{@post.id}/destroy",{method: "post"}) %>
   </div>
  </div>
 </div>
</div>