<div class="index-main">
  <div class="team-index-left">
   <div class="team-create">
     <%= form_tag("/teams/create") do %>
     <p>チーム作成</p>
     <input name="name">
     <input type="submit" value="作成">
     <%end%>
   </div>
  </div> 
  <div class="team-index-right"> 
   <% @teams.each do |team|%>
    <div class="teams-main">
      <div class="teams-left">
       <img src="/public/team_degault_image.jpg">
      </div>
      <div class="teams-right">
       <%= link_to()%>
      </div>
    </div>
   <%end%>
  </div> 
</div>