<div class="index-main">
  <div class="index-left">
   <div class="team-create">
     <%= form_tag("/teams/create") do %>
     <p>チーム作成</p>
     <input name="name">
     <input type="submit" value="作成">
     <%end%>
   </div>
  </div> 
  <div class="index-right">
    <>
  </div> 
</div>