// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//index===================================================
.team-index-back{
  display:flex;
}
/*left=======================================*/
.team-index-left{
  width:30%;
  height:700px;
  float:left;
  border:solid 2px #000;
  background-color:#dcdcdc;
  
}