// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//index===================================================
//right==================================================
index-right
.teams-main{
  margin-left:auto;
  margin-right:auto;
  background-color:#fff;
  box-shadow:0 2px 6px  #c1ced7;
  width:50vw;
  height:60px;
  overflow:hidden;
}

.teams-right a{
  color:#000;
}
.teams-right a:hover{
  color:#006699;
}